.meal {
    justify-content: space-between;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    background-color: white;
    text-align: center;
    padding: 28px 18px;
    border-radius: 3px;
}

.meal h3 {
    margin: 0 0 20px 0;
    cursor: pointer;
}

.meal h3:hover {
    color: #bd110f;
}

.description {
    font-style: italic;
}

.price {
    margin-top: 0.25rem;
    font-weight: bold;
    color: rgb(189, 17, 15);
    font-size: 1.25rem;
}

.center {
    text-align: center;
}
.close {
    font: inherit;
    cursor: pointer;
    background-color: #bd110f;
    border: 1px solid rgb(189, 17, 15);
    color: white;
    padding: 0.25rem 2rem;
    border-radius: 20px;
    font-weight: bold;
}
.close:hover {
    background-color: rgb(235, 75, 72);
    border-color: rgb(235, 75, 72);
}
